@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap');
$theme-font: 'Rubik', sans-serif;
$theme-color: #F26F23;
$text-color: #222222;
$bcolor: #000;
$wcolor: #fff;
$gcolor:#808080;
$grcolor:#41a30d;
$black-opacity: rgba($bcolor, 0.3);